@import './../../styles/variables.scss';

.homeText {
    color: $text-color;
    font-size: 20px;
    font-family: $primary-font;
}

.loading {
    color: $rust;
    font-size: 20px;
    font-family: $primary-font;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.orderDiv {
    border: 3px solid $lightblue;
    margin: 10px;
    font-family: $primary-font;
    font-size: 18px;
    color: $text-color;
    font-weight: bold;
}

.orderId {
    background-color: $lightblue;
    padding: 5px;
    text-align: center;
}

.orderDetails {
    padding: 10px 0px 0px 20px;
}

.orderDisplay {
    width: 30%;
    margin: 50px;
}

.deleteDiv {
    text-align: center;
}

.deleteButton {
    height: 30px;
    font-size: 16px;
    font-family: $primary-font;
    font-weight: bold;
    color: #fff;
    background-color: $text-color;
    border-radius: 5px;
    margin-bottom: 10px;
}

.deleting {
    text-align: center;
    color: $rust;
    font-size: 18px;
    font-family: $primary-font;
    font-weight: bold;
    padding: 5px;
}

.totalOrders {
    margin-left: 10px;
    font-family: $primary-font;
    font-size: 20px;
    color: $rust;
    font-weight: bold; 
}