@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$primary-font: 'Italiana', serif;

$darkblue: #051f0f;

$lightblue: #92BFB1;

$text-color: #114B5F;

$rust: #b04304;

$title-font: 'Lobster', cursive;

$yellow: #F4AC45;